In [2]:
import json
import pandas as pd
import sys

In [3]:
#read quote_ratings.json
with open('quote_ratings.json') as f:
    data = json.load(f)
#format it as a pandas dataframe
df = pd.DataFrame(data)
df.head()

,bookTitle,highlight,rating
0,This Is How It Always Is,“Because you know what’s even better than happ...,3
1,This Is How It Always Is,Making peace was better than living in fear.,3
2,Quiet,Participants in brainstorming sessions usually...,2
3,The Bookish Life of Nina Hill,“That is both the lamest and the nerdiest excu...,3
4,The Bookish Life of Nina Hill,None of them were very thrilled to hear about ...,1

In [4]:
#get a count of quotes by bookTitle
quote_count = df.groupby('bookTitle').size().reset_index(name='quote_count')
quote_count = quote_count.sort_values('quote_count', ascending=False)
#get how many quotes are rated 3 stars
three_star_quotes = df[df['rating'] == 3]
three_star_count = three_star_quotes.groupby('bookTitle').size().reset_index(name='three_star_count')
three_star_count = three_star_count.sort_values('three_star_count', ascending=False)
#merge the two dataframes
merged = pd.merge(quote_count, three_star_count, on='bookTitle', how='left')
merged = merged.fillna(0)
merged['three_star_count'] = merged['three_star_count'].astype(int)
merged['three_star_percent'] = (merged['three_star_count'] / merged['quote_count']) * 100
merged = merged.sort_values('three_star_percent', ascending=False)
print(merged)

                       bookTitle  quote_count  three_star_count  \
4           Fierce Conversations           38                26
2  The Bookish Life of Nina Hill           51                30
3       This Is How It Always Is           49                28
0                     No Worries           88                41
1                          Quiet           80                27

   three_star_percent
4           68.421053
2           58.823529
3           57.142857
0           46.590909
1           33.750000

In [5]:
#sum how many quotes have 3 stars
total_three_star = merged['three_star_count'].sum() 
total_three_star
#store the quotes with 3 stars in a json file named 3_star_quotes.json
three_star_quotes = three_star_quotes.to_dict('records')
with open('3_star_quotes.json', 'w') as f:
    json.dump(three_star_quotes, f)

In [6]:
#create an md file that stores the table named merged.md
with open('merged.md', 'w') as f:
    f.write(merged.to_markdown())